@font-face {
  font-family: "Classical Garamond BT";
  src: url(../fonts/Classical-Garamond-BT/ClassicalGaramondBT-Roman.woff2);
}
@font-face {
  font-family: "Scala Sans OT Regular";
  src: url(../fonts/Scala-Sans-OT/ScalaSansOT.woff2);
}
@font-face {
  font-family: "Scala Sans OT Bold";
  src: url(../fonts/Scala-Sans-OT/ScalaSansOT-Bold.woff2);
}
@font-face {
  font-family: "iconfont";
  src: url(../fonts/Iconfont/iconfont.woff2);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F6F4F2;
  -webkit-font-smoothing: antialiased;
}
body.no-scroll {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

h4 {
  color: #9a7b69;
  font-family: "Classical Garamond BT", "times new roman", serif;
  font-size: 11px;
  letter-spacing: 1.6px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-weight: 400;
}

.btn {
  margin: 0 10px 10px;
  background-color: transparent;
  border: 1px solid #b4b4b4;
  color: #1a1919;
  display: inline-block;
  font-family: "Scala Sans OT Regular", sans-serif;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 1.2;
  max-width: 280px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn.btn-secondary {
  background-color: #1a1919;
  border: 1px solid #1a1919;
  color: #fff;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background-color: transparent;
  color: #1a1919;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .experience {
    padding: 30px 0 60px;
  }
}
.experience p {
  color: #1a1919;
  font-family: "Classical Garamond BT", "times new roman", serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 33px;
  margin: 0 auto 10px;
  max-width: 400px;
}
.experience p a {
  color: #865;
}
.experience .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}
.experience .owl-theme .owl-dots .owl-dot.active span {
  background-color: #453f3f;
}
.experience .owl-theme .owl-dots .owl-dot span {
  background-color: #d1d0ce;
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  height: 4px;
  width: 4px;
  margin: 0 3px;
}

.collection {
  margin: 0 auto;
  padding: 20px 0 0;
}
@media screen and (min-width: 768px) {
  .collection {
    padding: 30px 0 0;
  }
}
@media screen and (min-width: 768px) {
  .collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1360px;
    padding: 0 10px;
  }
}
.collection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .collection__item {
    margin-bottom: 30px;
    width: calc(50% - 30px);
  }
}
.collection__item .text-wrapper {
  text-align: center;
  padding: 25px 25px 15px;
}
@media screen and (min-width: 768px) {
  .collection__item .text-wrapper {
    padding: 40px 40px 30px;
  }
}
.collection__item .text-wrapper h2 {
  color: #222;
  font-family: "Classical Garamond BT", "times new roman", serif;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 30px;
  text-transform: none;
  margin: 0 0 12px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .collection__item .text-wrapper h2 {
    font-size: 40px;
    letter-spacing: 1.6px;
    line-height: 50px;
    margin: 0 0 15px;
  }
}
.collection__item .text-wrapper p {
  font-family: "Scala Sans OT Regular", sans-serif;
  line-height: 24px;
  margin-bottom: 11px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) {
  .collection__item .text-wrapper p {
    line-height: 28px;
    margin: 0 auto 15px;
    max-width: 388px;
    letter-spacing: 1px;
  }
}
.collection__item .image-link-wrapper {
  background-size: cover;
  background-position: center top;
}
.collection__item .image-link-wrapper a {
  min-height: 230px;
  display: block;
}
@media screen and (min-width: 768px) {
  .collection__item .image-link-wrapper a {
    min-height: auto;
    padding-top: 75%;
  }
}

.product-slider {
  padding: 20px 0 25px;
  position: relative;
}
.product-slider .product-slider-inner {
  overflow: hidden;
}
@media (min-width: 768px) {
  .product-slider {
    max-width: 1360px;
    padding: 60px 10px;
    margin: 0 auto;
  }
}
.product-slider .image-wrapper {
  background-color: #fcfaf7;
  height: 170px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-slider .image-wrapper a {
  width: 100%;
}
.product-slider .image-wrapper a img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 100%;
}
@media (min-width: 768px) {
  .product-slider .image-wrapper {
    height: 350px;
  }
}
.product-slider .text-wrapper {
  background-color: #fff;
  padding: 20px 15px 0;
  height: calc(100% - 270px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .product-slider .text-wrapper {
    padding: 20px 25px 0;
    height: calc(100% - 430px);
  }
}
.product-slider .promo {
  font-family: "Scala Sans OT Regular", sans-serif;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.06em;
  margin: 0;
  text-transform: none;
  width: auto;
  background-color: #b4b4b4;
  border-radius: 0 2px 2px 0;
  color: #fff;
  left: 0;
  position: absolute;
  z-index: 1;
  bottom: 40px;
  font-size: 10px;
  line-height: 16px;
  padding: 4px 12px;
}
@media (min-width: 768px) {
  .product-slider .promo {
    font-size: 12px;
    line-height: 19px;
    padding: 8px 16px;
  }
}
.product-slider .product-name {
  font-family: "Classical Garamond BT", "times new roman", serif;
  margin: 0 0 5px;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .product-slider .product-name {
    margin: 0 0 10px;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
  }
}
.product-slider .product-description {
  font-family: "Scala Sans OT Regular", sans-serif;
  color: #1a1919;
  opacity: 0.5;
  font-size: 12px;
  letter-spacing: 0.31px;
  line-height: 14px;
  text-transform: none;
  margin: 0;
}
@media (min-width: 768px) {
  .product-slider .product-description {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
    min-height: 40px;
  }
}
.product-slider .cta-wrapper {
  background-color: #fff;
  padding: 0 15px 20px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (min-width: 768px) {
  .product-slider .cta-wrapper {
    padding: 0 25px 20px;
  }
}
.product-slider .product-price {
  font-family: "Classical Garamond BT", "times new roman", serif;
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 20px;
  width: calc(100% - 55px);
  display: inline-block;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .product-slider .product-price {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
  }
}
.product-slider .add-to-cart {
  background-color: transparent;
  border-radius: 50%;
  color: #000;
  font-size: 0;
  height: 48px;
  letter-spacing: 0;
  line-height: 0;
  max-width: none;
  min-width: auto;
  padding: 0;
  text-transform: none;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  width: 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Scala Sans OT Regular", sans-serif;
  background-image: url(../images/bag-plus.png);
  background-size: contain;
}
.product-slider .add-to-cart:hover, .product-slider .add-to-cart:focus {
  outline: solid 1px #000;
  outline-offset: -1px;
}
.product-slider .owl-carousel {
  overflow: visible;
  width: calc(100% - 120px);
  margin: 0 auto;
}
.product-slider .owl-carousel::before, .product-slider .owl-carousel::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 100%;
  left: -60px;
  top: 0;
  z-index: 2;
}
.product-slider .owl-carousel::before {
  background: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(80%, #f6f4f2));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0, #f6f4f2 80%);
}
.product-slider .owl-carousel::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(80%, #f6f4f2));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #f6f4f2 80%);
  right: -60px;
  left: auto;
}
@media (min-width: 768px) {
  .product-slider .owl-carousel .owl-stage-outer {
    overflow: visible !important;
  }
}
.product-slider .owl-carousel .owl-stage-outer .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-slider .owl-carousel .owl-stage-outer .owl-stage .owl-item {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .product-slider .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    padding: 0 10px;
  }
}
.product-slider .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}
.product-slider .owl-carousel .owl-nav button {
  margin: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 25px;
  position: absolute;
  top: calc(50% - 25px);
}
.product-slider .owl-carousel .owl-nav button:hover, .product-slider .owl-carousel .owl-nav button:focus {
  background-color: #fff;
}
.product-slider .owl-carousel .owl-nav button svg {
  color: #000;
  position: absolute;
  top: 13px;
}
.product-slider .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.product-slider .owl-carousel .owl-nav button.owl-prev svg {
  left: 13px;
}
.product-slider .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.product-slider .owl-carousel .owl-nav button.owl-next svg {
  left: 15px;
}
.product-slider .owl-carousel .owl-nav button.disabled {
  display: none !important;
}
.product-slider .master {
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-slider .master .text-wrapper {
  height: auto;
  background: none;
}
@media (min-width: 768px) {
  .product-slider .master .text-wrapper {
    padding: 0 24% 0 0;
  }
}
.product-slider .master h4 {
  font-size: 12px;
  letter-spacing: 1.8px;
  line-height: 16px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 400;
}
.product-slider .master h3 {
  font-size: 24px;
  font-family: "Classical Garamond BT", "times new roman", serif;
  font-weight: 400;
  color: #1a1919;
  letter-spacing: 1.5px;
  line-height: 50px;
  margin: 0 0 25px;
  text-transform: none;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .product-slider .master h3 {
    font-size: 40px;
  }
}
.product-slider .master p {
  color: #1a1919;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 38px;
  font-family: "Scala Sans OT Regular", sans-serif;
}
.product-slider .master .btn {
  display: block;
  margin: 0;
}

.membership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  width: 100%;
  background-color: #EFEDE9;
}
.membership .membership__inner-wrapper {
  max-width: 1320px;
  background-color: #fff;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .membership .membership__inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.membership .membership__image-holder {
  height: 40vh;
  width: 100%;
}
@media (min-width: 1024px) {
  .membership .membership__image-holder {
    height: 100%;
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.membership .membership__image-holder .image-link {
  display: block;
  width: 100%;
  height: 100%;
}
.membership .membership__image-holder .image-holder {
  background-image: url(https://rituals.scene7.com/is/image/rituals/2021_CRM_MyRituals_SpecialMemberPerks_FirstToKnow_01_379:3-by-2?wid=1914&hei=1276);
  height: 100%;
  background-position: center;
  background-size: cover;
}
.membership .membership__content-wrapper {
  position: relative;
}
@media (min-width: 1024px) {
  .membership .membership__content-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.membership .membership__content-wrapper .membership__text-holder {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a1919;
}
@media (min-width: 1024px) {
  .membership .membership__content-wrapper .membership__text-holder {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 40px;
  }
}
.membership .membership__content-wrapper .membership__text-holder span {
  text-transform: uppercase;
  color: rgb(154, 123, 105);
  font-size: 12px;
  letter-spacing: 1.7px;
  line-height: 16px;
  font-family: "Classical Garamond BT", "times new roman", serif;
  font-weight: 400;
}
.membership .membership__content-wrapper .membership__text-holder h3 {
  font-family: "Classical Garamond BT", "times new roman", serif;
  text-transform: none;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  margin: 0 0 10px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .membership .membership__content-wrapper .membership__text-holder h3 {
    font-size: 32px;
    line-height: 40px;
  }
}
.membership .membership__content-wrapper .membership__text-holder p {
  font-family: "Scala Sans OT Regular", sans-serif;
  font-weight: 400;
  color: #1a1919;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin-bottom: 0;
  text-align: center;
  width: 65%;
  margin: 0;
}
@media (min-width: 1024px) {
  .membership .membership__content-wrapper .membership__text-holder p {
    text-align: left;
  }
}
.membership .membership__content-wrapper .membership__gwp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1160px) {
  .membership .membership__content-wrapper .membership__gwp {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.membership .membership__content-wrapper .membership__gwp .gwp-minicart-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.membership .membership__content-wrapper .membership__gwp .flyout-progress-bar {
  border: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 560px;
  padding: 24px;
  position: relative;
  margin: 0 25px;
}
@media (min-width: 768px) {
  .membership .membership__content-wrapper .membership__gwp .flyout-progress-bar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 40px;
  }
}
.membership .membership__content-wrapper .membership__gwp .flyout-progress-text {
  padding-right: 20px;
  text-align: left;
}
.membership .membership__content-wrapper .membership__gwp .flyout-progress-text p {
  font-family: "Scala Sans OT Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.8px;
  margin: 0;
  color: rgb(69, 63, 63);
}
@media (min-width: 768px) {
  .membership .membership__content-wrapper .membership__gwp .flyout-progress-text p {
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}
.membership .membership__content-wrapper .membership__gwp .flyout-progress-text p b {
  font-family: "Scala Sans OT Bold", sans-serif;
}
.membership .membership__content-wrapper .membership__gwp .flyout-scroll-progress {
  border-radius: 2px;
  border: 0;
  height: 8px;
  position: absolute;
  width: 100%;
  bottom: 16px;
  left: 16px;
  width: calc(100% - 32px);
}
@media (min-width: 768px) {
  .membership .membership__content-wrapper .membership__gwp .flyout-scroll-progress {
    bottom: 24px;
    left: 24px;
    width: calc(100% - 148px);
  }
}
.membership .membership__content-wrapper .membership__gwp .flyout-progress-img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 72px;
}
@media (min-width: 768px) {
  .membership .membership__content-wrapper .membership__gwp .flyout-progress-img {
    height: 100%;
  }
}
.membership .membership__content-wrapper .membership__gwp .flyout-progress-img img {
  max-width: 100%;
}
.membership .membership__content-wrapper .membership__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}
@media (min-width: 1024px) {
  .membership .membership__content-wrapper .membership__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
  }
}
.membership .membership__content-wrapper .membership__buttons .btn {
  background-color: rgb(26, 25, 25);
  border-color: rgb(26, 25, 25);
  color: rgb(255, 255, 255);
  margin: 0;
  min-width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.membership .membership__content-wrapper .membership__buttons .btn:hover, .membership .membership__content-wrapper .membership__buttons .btn:focus {
  background-color: #fff;
  color: rgb(26, 25, 25);
}
.membership .membership__content-wrapper .membership__buttons .learn-more {
  color: #9a7b69;
  margin-top: 24px;
  font-size: 14px;
  font-family: "Scala Sans OT Regular", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
}
@media (min-width: 1024px) {
  .membership .membership__content-wrapper .membership__buttons .learn-more {
    margin-top: 0;
    margin-left: 40px;
  }
}
.membership .membership__content-wrapper.product-gift-ribbon::after {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}
@media (min-width: 768px) {
  .membership .membership__content-wrapper.product-gift-ribbon::after {
    background-image: url(../images/ribbon-gold-corner-desktop.svg);
    height: 96px;
    width: 90px;
  }
}
@media (min-width: 1024px) {
  .membership .membership__content-wrapper.product-gift-ribbon::after {
    opacity: 1;
  }
}

.terms-and-conditions-info {
  margin: 22px auto 30px;
  max-width: 610px;
  text-align: left;
  padding-left: 20px;
}
.terms-and-conditions-info p {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.4px;
  font-family: "Scala Sans OT Regular", sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
  color: rgb(69, 63, 63);
}
.terms-and-conditions-info p a {
  color: rgb(136, 102, 85);
}
@media screen and (min-width: 768px) {
  .terms-and-conditions-info p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

.video-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  min-height: 542px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
@media screen and (min-width: 768px) {
  .video-banner {
    min-height: 480px;
    max-height: none;
  }
}
.video-banner .background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: -webkit-transform 1.3s cubic-bezier(0.18, 0.74, 0.36, 0.99);
  transition: -webkit-transform 1.3s cubic-bezier(0.18, 0.74, 0.36, 0.99);
  transition: transform 1.3s cubic-bezier(0.18, 0.74, 0.36, 0.99);
  transition: transform 1.3s cubic-bezier(0.18, 0.74, 0.36, 0.99), -webkit-transform 1.3s cubic-bezier(0.18, 0.74, 0.36, 0.99);
  z-index: -1;
}
.video-banner .background-video {
  opacity: 1;
  display: block;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.33, 0.16, 0.15, 0.7);
  transition: opacity 0.6s cubic-bezier(0.33, 0.16, 0.15, 0.7);
}
.video-banner .background-video .video-wrapper {
  max-width: 100%;
}
.video-banner .background-video .video-wrapper video {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 58vw;
  left: 50%;
  min-height: calc(100% + 5px);
  min-width: calc(100% + 5px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  width: 177.8vh;
}
.video-banner .text-wrapper {
  padding: 30px 0;
  width: 100%;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .video-banner .text-wrapper {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 110px 0;
  }
}
.video-banner .text-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 370px;
  background: linear-gradient(180.08deg, rgba(26, 24, 25, 0) 13.97%, rgba(26, 24, 25, 0.43) 28.74%, rgba(26, 24, 25, 0.71) 43.52%, rgba(26, 24, 25, 0.92) 60.53%, #1a1819 79.78%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .video-banner .text-wrapper::before {
    content: none;
  }
}
.video-banner .text-wrapper .text-wrapper__inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.video-banner .text-wrapper .text-wrapper__inner .text-copy {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .video-banner .text-wrapper .text-wrapper__inner .text-copy {
    padding: 0 0 0 10px;
    float: left;
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .video-banner .text-wrapper .text-wrapper__inner .text-copy {
    padding-left: 40px;
  }
}
.video-banner .text-wrapper .text-wrapper__inner .text-copy .icon {
  font-size: 60px;
  color: #fff;
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 2;
  display: block;
}
@media (min-width: 768px) {
  .video-banner .text-wrapper .text-wrapper__inner .text-copy .icon {
    position: static;
    line-height: normal;
    margin-bottom: 25px;
    vertical-align: middle;
  }
}
.video-banner .text-wrapper .text-wrapper__inner .text-copy .icon:before {
  font-family: iconfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  content: "\ea78";
}
.video-banner .text-wrapper .text-wrapper__inner .text-copy h4 {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 16px;
  margin-bottom: 24px;
  color: #fff;
  font-family: "Classical Garamond BT", "times new roman", serif;
  font-weight: 400;
}
.video-banner .text-wrapper .text-wrapper__inner .text-copy h1 {
  font-size: 32px;
  letter-spacing: 0.6px;
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 0;
  color: #fff;
  font-family: "Classical Garamond BT", "times new roman", serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .video-banner .text-wrapper .text-wrapper__inner .text-copy h1 {
    font-size: 50px;
    letter-spacing: 1.4px;
    line-height: 56px;
    margin-bottom: 25px;
  }
}
.video-banner .text-wrapper .text-wrapper__inner .text-copy p {
  font-family: "Scala Sans OT Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .video-banner .text-wrapper .text-wrapper__inner .text-copy p {
    font-size: 16px;
    letter-spacing: 0.6px;
  }
}
.video-banner .text-wrapper .text-wrapper__inner .text-copy a {
  background-color: #fff;
  border: 1px solid #fff;
  color: #1a1919;
  padding: 15px 20px;
  font-size: 14px;
  letter-spacing: 0.4px;
  min-width: 210px;
  margin: 25px 0 0;
}
@media screen and (min-width: 768px) {
  .video-banner .text-wrapper .text-wrapper__inner .text-copy a {
    margin-top: 35px;
    min-width: 220px;
    font-size: 12px;
  }
}
.video-banner .text-wrapper .text-wrapper__inner .text-copy a:hover, .video-banner .text-wrapper .text-wrapper__inner .text-copy a:focus {
  background: none;
  color: #fff;
}

.header {
  background-color: #1a1919;
  height: 80px;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 981;
}
@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header.nav-active {
  z-index: 1099;
}
.header.nav-active .nav-toggle {
  height: 24px;
}
@media (max-width: 767px) {
  .header.nav-active .nav-toggle {
    margin-top: -2px;
  }
}
.header.nav-active .nav-toggle.active .icon-close {
  opacity: 1;
  visibility: visible;
}
.header.nav-active .toggle-nav-bar {
  opacity: 0;
  visibility: hidden;
}
.header .header--top {
  background-color: #242222;
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 32px;
  width: 100%;
}
.header .header--top .inner-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 30px 0;
}
.header .header--bottom {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header .header--bottom {
    position: relative;
  }
}
.header .navigation-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
.header .navigation-inner .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
}
@media (min-width: 768px) {
  .header .navigation-inner .inner-wrapper {
    padding: 0 20px;
  }
}
.header .header-logo {
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .header .header-logo {
    left: 65px;
    margin-top: 8px;
    width: 128px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header .header-logo {
    left: 105px;
    width: 170px;
  }
}
@media (max-width: 1024px) {
  .header .header-logo {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.header .header-logo svg {
  display: block;
  height: 16px;
  width: 100%;
  fill: #fff;
}
.header .nav-mobile {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 80px;
}
@media (min-width: 768px) {
  .header .nav-mobile {
    display: none;
  }
}
.header .nav-mobile .nav-mobile-inner {
  background-color: #1a1919;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 80px;
}
.header .nav-mobile .nav-mobile-inner::-webkit-scrollbar {
  display: none;
}
.header .nav-mobile .nav-item {
  display: block;
  position: relative;
  width: 100%;
}
.header .nav-mobile .nav-item-link {
  color: #d8d8d8;
  display: block;
  font-family: "Classical Garamond BT", "times new roman", serif;
  opacity: 0;
  padding: 5px 30px 5px 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-indent: 20px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: text-indent 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: text-indent 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: text-indent 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: text-indent 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  width: 100%;
  background: transparent;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .nav-mobile .nav-item-link::after {
  font-family: iconfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  content: "\ea1b";
  display: inline-block;
  font-size: 28px;
  line-height: 1;
  position: absolute;
  right: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header .nav-mobile .nav-mobile-additional-list,
.header .nav-mobile .nav-mobile-main-list {
  list-style: none;
  padding: 0 25px;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .nav-mobile .nav-mobile-main-list {
  padding-top: 37px;
}
.header .nav-mobile .nav-mobile-main-list .nav-item {
  margin-bottom: 22px;
}
.header .nav-mobile .nav-mobile-main-list .nav-item-link {
  font-size: 24px;
  letter-spacing: 1.1px;
  line-height: 32px;
}
.header .nav-mobile .nav-mobile-additional-list {
  margin-top: auto;
  padding-bottom: 39px;
}
.header .nav-mobile .nav-mobile-additional-list .nav-item {
  margin-top: 14px;
}
.header .nav-mobile .nav-mobile-additional-list .nav-item:first-child {
  margin-top: 31px;
}
.header .nav-mobile .nav-mobile-additional-list .nav-item-link {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
}
.header .nav-mobile .flyin .nav-item-link {
  opacity: 1;
  text-indent: 0;
}
.header .nav-mobile .flyout .nav-item-link {
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}
.header .nav-mobile .nav-mobile-layer {
  background-color: #1a1919;
  bottom: 0;
  display: none;
  left: 0;
  overflow: auto;
  padding: 30px 0 0;
  position: fixed;
  right: 0;
  top: 80px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.header .nav-mobile .nav-mobile-layer.visible {
  z-index: 3;
}
.header .nav-mobile .nav-mobile-layer .nav-back {
  display: block;
  font-size: 16px;
  margin: 0 0 10px 24px;
  padding: 11px 4px;
  text-align: left;
  width: calc(100% - 48px);
  background-color: transparent;
  border: 0;
}
.header .nav-mobile .nav-mobile-layer .nav-back::before {
  font-family: iconfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  color: #d8d8d8;
  content: "\ea0f";
  display: inline-block;
  line-height: 1;
}
.header .nav-mobile .nav-mobile-layer .nav-mobile-first-layer .nav-mobile-layer-inner {
  height: auto;
}
.header .nav-mobile .nav-mobile-layer .nav-mobile-layer-inner {
  height: calc(100% - 50px);
  overflow: auto;
  padding: 11px 24px 0;
  position: relative;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.header .nav-mobile .nav-mobile-layer .nav-mobile-subnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 60px 0 0;
  margin: 0;
}
.header .nav-mobile .nav-mobile-layer .nav-mobile-subnav li {
  width: 100%;
}
.header .nav-mobile .nav-mobile-layer .nav-mobile-subnav-image-wrap {
  display: block;
  margin-bottom: 38px;
  opacity: 0;
  text-align: center;
  text-decoration: none;
  -webkit-transition: opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 100%;
}
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-section-title,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-subnav-image-wrap,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-subnav-link,
.header .nav-mobile .nav-mobile-layer .mobile-third-level .flyin > a {
  opacity: 1;
  text-indent: 0;
}
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-section-title .nav-mobile-subnav-image,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-section-title .nav-mobile-subnav-shop-link,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-section-title .nav-mobile-subnav-title,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-subnav-image-wrap .nav-mobile-subnav-image,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-subnav-image-wrap .nav-mobile-subnav-shop-link,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-subnav-image-wrap .nav-mobile-subnav-title,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-subnav-link .nav-mobile-subnav-image,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-subnav-link .nav-mobile-subnav-shop-link,
.header .nav-mobile .nav-mobile-layer .flyin > .nav-mobile-subnav-link .nav-mobile-subnav-title,
.header .nav-mobile .nav-mobile-layer .mobile-third-level .flyin > a .nav-mobile-subnav-image,
.header .nav-mobile .nav-mobile-layer .mobile-third-level .flyin > a .nav-mobile-subnav-shop-link,
.header .nav-mobile .nav-mobile-layer .mobile-third-level .flyin > a .nav-mobile-subnav-title {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}
.header .nav-mobile .nav-mobile-layer .nav-mobile-subnav-image {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  padding-bottom: 56.27%;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  width: 100%;
  visibility: hidden;
}
.header .nav-mobile .nav-mobile-layer .nav-mobile-subnav-image::after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(26, 25, 25, 0)), to(#1a1919)), -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(26, 25, 25, 0)), to(#1a1919));
  background: linear-gradient(180deg, rgba(26, 25, 25, 0) 0, #1a1919 100%), linear-gradient(180deg, rgba(26, 25, 25, 0) 0, #1a1919 100%);
  bottom: 0;
  content: "";
  display: block;
  height: 39px;
  left: 0;
  position: absolute;
  right: 0;
}
.header .nav-mobile .nav-mobile-layer .nav-mobile-subnav-title {
  color: #fff;
  display: block;
  font-family: "Classical Garamond BT", "times new roman", serif;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 32px;
  margin-bottom: 2px;
  text-decoration: none;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1), -webkit-transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  visibility: hidden;
}
.header .nav-desktop {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
}
@media (max-width: 1024px) {
  .header .nav-desktop {
    display: none;
  }
}
.header .header-action-links li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}
.header .header-inline-icon {
  vertical-align: middle;
}
.header .header-action-links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .header .header-action-links {
    padding-top: 15px;
  }
}
.header .header--search {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  width: auto;
  z-index: 2;
}
.header .header--search .search-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .header--search .search-input-wrapper button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}
.header .header--search .icon-search-magnifier .header-inline-icon {
  height: 19px !important;
  left: -2px;
  position: relative;
  top: 0;
  width: 18px !important;
  fill: #fff;
}
.header .header--search .search-input {
  background-color: transparent;
  border-color: transparent;
  color: #b4b4b4;
  font-family: ScalaSansOT, segoe ui, Roboto, helvetica neue, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}
.header .nav-toggle {
  height: 13px;
  left: 27px;
  margin-top: 8px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  z-index: 51;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header .nav-toggle {
    left: 43px;
    margin-top: 0;
  }
}
.header .nav-toggle .toggle-nav-bar {
  background-color: #fff;
  display: block;
  height: 1px;
  margin: 6px 0;
  width: 100%;
}
.header .nav-toggle .toggle-nav-bar::before, .header .nav-toggle .toggle-nav-bar::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}
.header .nav-toggle .toggle-nav-bar::before {
  top: 0;
}
.header .nav-toggle .toggle-nav-bar::after {
  bottom: 0;
}
.header .nav-toggle .icon-close {
  color: #fff;
  display: inline-block;
  font-size: 22px;
  left: -2px;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: 3px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  transition: opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
  visibility: hidden;
}
.header .nav-toggle .icon-close::before {
  font-family: iconfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  content: "\ea33";
}
.header .close-desktop-nav {
  color: #fff;
  display: none;
  font-size: 22px;
  position: absolute;
  right: 24px;
  top: 22px;
  z-index: 4;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}
.header .nav-desktop-subnav-wrap {
  bottom: 0;
  display: none;
  left: 307px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 448px;
  z-index: 3;
}
.header .search-suggestions-container {
  display: none;
  background-color: #fff;
  height: calc(100vh - 45px);
  left: -24px;
  margin-top: 43px;
  overflow-y: scroll;
  padding: 30px;
  position: absolute;
  right: -24px;
  min-width: 350px;
}
@media (max-width: 1024px) {
  .header .search-suggestions-container {
    height: calc(100vh - 80px);
    margin-top: 80px;
    padding: 28px 20px;
    top: 0;
  }
}